<!-- vue 불러오기 -->
<!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!-- lodash : debounce 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>


   <!-- 메인-검색 페이지 시작 -->  
   <section v-cloak  id="article-search-section" class="section-1">
      <div class="con">
        <div class="search-div">
          <form class="search-form flex flex-jc-c">
            <input class="input" @input="source" v-model="keyword" type="text" placeholder=" 검색어 입력">
          </form>
        </div>
        <div class="article-search-list">
          <header>
            <div>
              <div class="article-search-list__cell-id">번호</div>
              <div class="article-search-list__cell-reg-date">날짜</div>
              <div class="article-search-list__cell-writer">작성자</div>
              <div class="article-search-list__cell-title">제목</div>
            </div>
          </header>
          <div class="main">
            <div v-for="article in filtered">
              <div class="article-search-list__cell-id">{{article.id}}</div>
              <div class="article-search-list__cell-reg-date">{{article.regDate}}</div>
              <div class="article-search-list__cell-writer">{{article.writer}}</div>
              <div class="article-search-list__cell-title">
                <a :href="'article_detail_' + article.id + '.html'" class="hover-underline">{{article.title}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   <!-- 메인-검색 페이지 끝 -->   
   <!-- 메인-검색 페이지 하단 메뉴 시작 --> 

   <!-- 메인-검색 페이지 하단 메뉴 끝 --> 
   
   <div class="ad">
   <!-- 구글 애드센스5 -->
   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 수평 반응형5 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7996879977557531"
     data-ad-slot="9218857194"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
   </div>
   
   
   </section>
  </main>
  <!-- 메인 컨텐츠 박스 끝 -->
  
  <!-- search.js 불러오기 -->
<script src="search.js"></script>
  